services:
  minio-svc:
    image: quay.io/minio/minio:latest
    command: server /data/minio/ --console-address ":9001" --address ":9000"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: local-user
      MINIO_ROOT_PASSWORD: local-password
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5
    hostname: minio
    volumes:
      - minio-data:/data

volumes:
  minio-data:
    driver: local
